$light-white: #f9f9f9;
$dark-gray: #757575;
$gray: #909099;
$white: #fff;
$cyan: #6594bc;
$green: #7cc078;
$black: #000;
$red: red;

$sidebar-width: 200px;
$sidebar-nav-bg: rgba($cyan,0.8);
$sidebar-min-width: 70px;
$sidebar-menu-item-color: $cyan;
$sidebar-menu-item-active-color: $cyan;
