@import "../../assets/scss/variables";

.sidebar {
  //bottom: 0;
  //left: $sidebar-width;
  // display: block;
  // padding: 40px;
  // height: 100%;
  //overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: $sidebar-nav-bg;
  //border-right: 1px solid darken($sidebar-nav-bg, 10%);
  transition: all .5s ease;
  box-shadow: 2px 0px 5px 0px #ccc5c5;
  &__menu {
    top: 20%;
    text-align: center;
    padding: 20px 5px;
  }
  &__link {
    padding: 15px 15px;
    color: $white !important;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .2s;
    &:hover,
    &:focus {
      color: lighten($sidebar-menu-item-active-color, 0%);
      text-decoration: none;
    }
    &--active {
      color: lighten($sidebar-menu-item-active-color, 0%) !important;
      background-color: rgba($white, 1);
      //border-left: 5px solid $sidebar-menu-item-active-color;
    }
    &--disabled {
      opacity: .5;
      cursor: not-allowed;
      &:hover,
      &:focus {
        color: gray;
      }
    }
  }
  &__button {
    position: absolute;
    top: 10px;
    transform: translateY(-50%);
    right: 0;
    color: $sidebar-menu-item-active-color;
    //background: #cfe5e6;
    padding: 5px 10px;
    text-align: center;
    //border-radius: 100% 0 0 100%;
    // box-shadow: 0 1px 2px $sidebar-menu-item-active-color;
    transition: all .2s;
    &:hover {
      color: $sidebar-menu-item-active-color;
    }
  }
}

.header-section {
  div {
    background-color: $white;
    border-radius: 5px;
    border: 2px solid $cyan;
    padding: 20px;
    margin-left: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 25%;
    text-align: center;
  }

  img {
    width: 50px;
  }
}

.content-section {

  .left-section {
    background-color: $green;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($green, 0.3);
    text-align: center;
    padding: 20px;

    img {
      width: 400px;
      height: 250px
    }
  }

  .chart-section {
    background-color: $cyan;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($cyan, 0.3);
    text-align: center;
    padding: 20px;

    img {
      width: 250px;
      height: 150px
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }
}


@media only screen and (max-width: 600px) {
  div.sidebar {
    display: none;
  }
}