<div class="container-fluid">
  <div class="row">
    <!-- sidebar section-->
    <div class="col-2">
      <div class="sidebar full-height">
        <div class="sidebar__menu position-relative">
          <a  class="sidebar__link sidebar__link--active" title="Dashboard" >
            <span>Dashboard</span>
          </a>

          <a class="sidebar__link" title="Reading">
            <span>Reading</span>
          </a>

          <a class="sidebar__link" title="Lectures">
            <span>Lectures</span>
          </a>

          <a class="sidebar__link" title="Assignments">
            <span>Assignments</span>
          </a>

          <a class="sidebar__link" title="Analytics">
            <span>Analytics</span>
          </a>

          <a class="sidebar__link" title="Messages">
            <span>Messages</span>
          </a>

          <a class="sidebar__link" title="Settings">
            <span>Settings</span>
          </a>

        </div>
      </div>
    </div>

    <!-- content-section begin -->

    <div class="col-10">
      <!-- header-section begins-->
      <div class="row">
        <div class="col-12">
          <div class="header-section d-flex justify-content-center align-items-center flex-row">
            <div><img src="assets/images/001.png" alt=""></div>
            <div><img src="assets/images/002.png" alt=""></div>
            <div><img src="assets/images/003.png" alt=""></div>
            <div><img src="assets/images/004.png" alt=""></div>
          </div>
        </div>
      </div>
      <!-- header-section ends -->

      <!-- content-section begins-->
      <div class="row mt-3">
        <div class="col-12">
          <div class="content-section mt-4">
            <div class="row">

              <div class="col-8">
                <div class="left-section d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <img src="assets/images/sat-rates.png" alt="">
                  </div>
                  <div class="mt-2">
                    <a class="text-white" href="">Read more....</a>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="chart-section mt-3">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <div>
                      <img src="assets/images/time-chart.png" alt="">
                    </div>
                    <div class="mt-2">
                      <a href="">Read more....</a>
                    </div>
                  </div>
                </div>
                <div class="chart-section mt-4">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <div>
                      <img src="assets/images/web-traffic.png" alt="">
                    </div>
                    <div class="mt-2">
                      <a href="">Read more....</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- content-section ends-->
    </div>

    <!-- content-section ends -->

  </div>
</div>
